.bangladesh-20 {
    align-self: stretch;
    position: relative;
    font-weight: 500;
  }
  .idea-innovation {
    margin: 0;
  }
  .idea-innovation-container {
    margin: 0;
    position: relative;
    font-size: 56px;
    font-weight: 700;
    font-family: inherit;
    color: #0e0e0e;
  }
  .bangladesh-20-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .explore-new-bangladesh {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-fira-sans);
    color: #fff;
    text-align: left;
  }
  .explore-new-bangladesh-wrapper {
    cursor: pointer;
    border: 0;
    padding: 17px 33px;
    background-color: #006a50;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .explore-new-bangladesh-wrapper:hover {
    background-color: #269175;
  }
  .frame-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    min-width: 404px;
    max-width: 100%;
  }
  .root-child {
    width: 474px;
    position: relative;
    max-height: 100%;
    max-width: 100%;
  }
  .root {
    border-radius: 24px;
    background-color: #c6e4d6;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 80px 60px;
    box-sizing: border-box;
    gap: 64px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
    font-family: var(--font-fira-sans);
  }
  @media screen and (max-width: 1025px) {
    .root-child {
      flex: 1;
    }
    .root {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 975px) {
    .idea-innovation-container {
      font-size: 45px;
    }
  }
  @media screen and (max-width: 725px) {
    .frame-parent {
      min-width: 100%;
    }
    .root {
      gap: 32px;
      padding-left: var(--padding-11xl);
      padding-right: var(--padding-11xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .bangladesh-20 {
      font-size: 19px;
    }
    .idea-innovation-container {
      font-size: 34px;
    }
    .explore-new-bangladesh-wrapper {
      gap: var(--gap-5xl);
    }
    .root {
      gap: var(--gap-base);
    }
  }